@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.listwebpart {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
    
  }
  .table{
    border: none;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
  }
    .font{
      text-align: center;
      font-size: 22pt;
      font-weight: 700;
    }
    .font1{
      font-size:  15pt;
    }
    .font2{
      font-size:  15pt;
      text-align: right;
    }
    .font3{
      text-align: center;
  }
  .border1{
      border: 1pt solid #000;
  }
  .border0{
      border-top: 0px solid #000;
      border-left: 0px solid #000;
      border-right: 0px solid #000;
      border-bottom: 0px solid #000;
      height: 36px;
  }
  .borderlr{
      border-top: 0pt solid #000;
      border-left: 1pt solid #000;
      border-right: 1pt solid #000;
      border-bottom: 0px solid #000;
      height: 36px;
  }
  .borderl{
      border-top: 0px solid #000;
      border-left: 1pt solid #000;
      border-right: 0px solid #000;
      border-bottom: 0px solid #000;
  }
  .borderr{
      border-top: 0px solid #000;
      border-left: 0px solid #000;
      border-right: 1pt solid #000;
      border-bottom: 0px solid #000;
  }
  .borderb{
      border-top: 0px solid #000;
      border-left: 0px solid #000;
      border-right: 0px solid #000;
      border-bottom: 1pt solid #000;
  }
  .width2{
      width: 109px;
      display: inline-block;
  }
  .hao{
      width: 76px;
      display: inline-block;
  }
  .height{
      height: 88px;
  }
  .height1{
      height: 43px;
  }
  .ldps{
    border: 1pt solid #000;
    width: 16%;
    height: 88px; 
  }
  .ldpst{
    border: 1pt solid #000;
    width: 137px;
    height: 88px; 
    text-align: left;
  }
  .huiqian{
    border: 1pt solid #000;
    width: 16%;
    height: 43px;
  }
  .spantext{
    text-align: left;
  }
  .biankuang{
    border: 1pt solid #000;
    height: 43px;
    width: 32%;
  }
  .shiyouspan{
    border-top: 0pt solid #000;
    border-left: 1pt solid #000;
    border-right: 1pt solid #000;
    border-bottom: 0px solid #000;
    height: 88px;
    text-align: left;
  }
  .zutuan{
    width: 50px;
    border: 0pt solid #000;
    height: 36px;
  }
  .colwidth1{
    width: 17%;
  }
  .colwidth2{
    width: 9%;
  }
  .colwidth3{
   width: 6%;
  }
  .colwidth4{
    width: 4%;
  }
  .colwidth5{
    width: 16%;
  }
  .colwidth6{
    width: 9%;
  }
  .colwidth7{
    width: 6%;
    }
  .colwidth8{
    width: 11%;
  }
  .colwidth9{
    width: 22%;
  }
  .tzheight{
    border: 1pt solid #000;
    height: 50px;
  }
  .fjheight{
    border: 1pt solid #000;
    height: 59px;
  }
  .bzheight{
    border: 1pt solid #000;
    height: 80px;
  }
  .input{
    font-variant: tabular-nums;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 4px 11px;
    width: 100%;
    height: 32px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 0px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}